<h1>Admin#show</h1>
<p>Find me in app/views/admin/show.html.erb</p>
<ul>
  <% @users.each do |user| %>
      <li>
        <%= user.name %><span> <%= user.email %></span>
      </li>
  <% end %>
</ul>
