<h1>HomePage</h1>
<p class="navbar-text pull-right">
  <%= link_to "About", '#', class: "btn btn-default" %>
  <%= link_to "What we do", '#', class: "btn btn-default" %>
  <%= link_to "Fellowship", '#', class: "btn btn-default" %>
  <%= link_to "Sign In", '#', class: "btn btn-default" %>
</p>

<!-- <ul>
    <li class="nav nav">About</li>
    <a href=""><li>What we do</li></a>
    <a href=""><li>Fellowship</li></a>
    <a><li>Sign In</li></a>
</ul> -->
